.logo{
  align-items: center;
  display: flex;
  padding-left: 5px;
  position: absolute;
  right:30px;
  top:15px;
}
.logo img{
  width:48px;
  height:48px;
}
.logo span{
  padding-left: 10px;
  font-size: 24px;
}
.footer{
  text-align: center;
}
.sectionIn{
  margin-top:15px;
  /*background: url('../images/sectionbg.jpg') ;*/

}
.linweiheader .myCome{
font-size: 50px;
text-align: center;
color: #f6f6f6;
padding-left: 0;
margin-bottom: 50px;
}

.linweiheader{
  height: 500px;
  width:100%;
  background:skyblue url('../images/yezi.png') no-repeat;
}
.linweiheader p{
  font-size: 24px;
  padding-left: 100px;
  color: #f6f6f6;
  margin-top:10px;
}
.linweiheader .linaed{
  width:600px;
  margin:auto;
}

/*#banner .left{height: 200px;width: 50%;position: absolute;left:0;top:0;background:rgba(255,255,255,0.5) url('../images/chebang.png') no-repeat;animation: bold 80s linear infinite alternate;}
#banner .right{height: 200px;width: 50%;position: absolute;right:0;top:0;background: #B92214;}*/


#banner .yun{width:100% ;height: 85px;position: absolute;bottom:120px;}
#banner .yun li{width: 300%;height: 85px;}
#banner .yun li:nth-child(1){background:rgba(255,255,255,0) url(../images/wave1.png);
animation:man 80s linear infinite alternate;position: absolute;left:0;top:-15px; z-index:1;}
#banner .yun li:nth-child(2){background:rgba(255,255,255,0) url(../images/wave1-ie6.png); z-index:2;animation:kuai 80s linear infinite alternate;position: absolute;left:0;top:0;}





@keyframes man{
	0%{ left:0;}
	100%{ left:-100%;}
}
@keyframes kuai{
	0%{ left:0;}
	100%{ left:-200%;}
}
.sersrlds{
margin-top:100px;
}

.ant-tabs-content-animated{
  height:200px;
  font-size: 16px;
  color: #333333;
  line-height: 24px;
}
.ant-tabs{

margin:auto;
}
.ant-tabs .ant-tabs-tab{
  font-size: 18px;
}
.footerIn{

height:400px;
}
.footerIn div{
  font-size: 16px;
}
.designso{
text-align: center;
font-size: 36px;
color: skyblue;
margin-top:30px;
margin-bottom: 30px;
}
*{padding:0; margin:0; border:0; list-style:none;}
ul,body,html{ height:100%;}
#ps{ position:relative;margin:auto;height: 600px;overflow: hidden;}
#ps li{ width:200px; height:250px; background:#fff; position:absolute; box-shadow:0 0 10px; transition:all 1s;cursor: pointer;}
#ps .current{ transform:rotate(0) scale(1.5,1.5) !important; left:50% !important; top:50% !important; margin-left:-130px; margin-top: -150px; z-index:100;}
